In [3]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn

# Import dataframe
df = pd.read_csv("all_data.csv")

# Fix column names
df.rename(columns = {
    "Country":"country",
    "Year":"year",
    "Life expectancy at birth (years)":"life_exp", 
    "GDP":"gdp"},inplace=True)

# Inspect the data
print(df.head(25))

   country  year  life_exp           gdp
0    Chile  2000      77.3  7.786093e+10
1    Chile  2001      77.3  7.097992e+10
2    Chile  2002      77.8  6.973681e+10
3    Chile  2003      77.9  7.564346e+10
4    Chile  2004      78.0  9.921039e+10
5    Chile  2005      78.4  1.229650e+11
6    Chile  2006      78.9  1.547880e+11
7    Chile  2007      78.9  1.736060e+11
8    Chile  2008      79.6  1.796380e+11
9    Chile  2009      79.3  1.723890e+11
10   Chile  2010      79.1  2.185380e+11
11   Chile  2011      79.8  2.522520e+11
12   Chile  2012      79.9  2.671220e+11
13   Chile  2013      80.1  2.783840e+11
14   Chile  2014      80.3  2.609900e+11
15   Chile  2015      80.5  2.425180e+11
16   China  2000      71.7  1.211350e+12
17   China  2001      72.2  1.339400e+12
18   China  2002      72.7  1.470550e+12
19   China  2003      73.1  1.660290e+12
20   China  2004      73.5  1.955350e+12
21   China  2005      73.9  2.285970e+12
22   China  2006      74.2  2.752130e+12
23   China  2007      74.4  3.552180e+12
24   China  2008      74.5  4.598210e+12

In [5]:
df_pivot = df.pivot(index="country", columns="year", values="life_exp").reset_index()
df_pivot.head()

year,country,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Chile,77.3,77.3,77.8,77.9,78.0,78.4,78.9,78.9,79.6,79.3,79.1,79.8,79.9,80.1,80.3,80.5
1,China,71.7,72.2,72.7,73.1,73.5,73.9,74.2,74.4,74.5,74.9,75.0,75.2,75.4,75.6,75.8,76.1
2,Germany,78.0,78.3,78.4,78.5,79.1,79.2,79.6,79.8,79.9,80.0,80.1,80.5,80.6,80.6,80.9,81.0
3,Mexico,74.8,75.0,75.0,75.0,75.4,75.3,75.8,76.0,75.6,75.7,75.6,76.1,76.3,76.6,76.6,76.7
4,United States of America,76.8,76.9,77.0,77.2,77.5,77.5,77.8,78.1,78.2,78.5,78.7,78.7,78.8,78.9,79.1,79.3